<div class="row">
    <div class="col-lg-8">
      <div class="card">
        <app-alert></app-alert>
        <div class="card-header">Add Details</div>
        <div class="card-body">
          <form [formGroup]="customForm" (ngSubmit)="submitForm()">
            
            <div *ngFor="let form of customFormInputs; let i = index">
              <div class="form-group" *ngIf="form.input == 'text' || form.input == 'number'">
                <label [for]="form.key" class="control-label mb-1">{{form.label}}</label>
                <input [type]="form.input" [id]="form.key" [name]="form.key" class="form-control" [formControlName]="form.key">
                <div *ngIf="customForm.get(form.key)?.invalid  && customForm.get(form.key)?.touched">
                  <div *ngFor="let err of form.validation; let k = index">
                    <small class="text-danger" *ngIf="customForm.get(form.key)?.errors?.[err.valid]">{{err.error}}</small>
                  </div>
                </div>
              </div>

              <div class="form-group" *ngIf="form.input == 'select'">
                <label [for]="form.key" class="control-label mb-1">{{form.label}}</label>
                <select [id]="form.key" [name]="form.key" class="form-control" [formControlName]="form.key">
                  <option  *ngFor="let item of form.values; let j = index" [value]="item.value">
                    {{item.label}}
                  </option>
                </select>
                <div *ngIf="customForm.get(form.key)?.invalid && customForm.get(form.key)?.touched">
                  <div *ngFor="let err of form.validation; let k = index">
                    <small class="text-danger" *ngIf="customForm.get(form.key)?.hasError(err.valid)">{{err.error}}</small>
                  </div>
                </div>
              </div>
            </div>

            <button type="submit"
                    class="btn btn-lg btn-info btn-block" 
                    
                    >
                <span>{{isEdit ? 'Update' : 'Save'}}</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>