<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="{{iconPath}}logo.png" alt="Cool Admin" />
        </a>
    </div>
    
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" routerLink="">
                        <i class="fa fa-tachometer"></i>Dashboard</a>
                </li>
                <li>
                    <a routerLink="departments">
                        <i class="fa fa-bar-chart"></i>Departments</a>
                </li>
                <li>
                    <a routerLink="employees">
                        <i class="fa fa-table"></i>Employees</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->